$uwcs-blue: #3A7DFF;
$uwcs-yellow: #FFC700;
$uwcs-grey: #202429;
$uwcs-greyer: #2F3338;

$primary: $uwcs-blue;
$blue: $uwcs-yellow;
$yellow: $uwcs-yellow;

$body-bg: #fff;
$body-bg-dark: $uwcs-grey;

$body-secondary-bg-dark: $uwcs-greyer;

$font-family-sans-serif: "Mulish", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$headings-font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$hr-margin-y: 1.5rem;
$border-width: 3px;

$card-border-width: 0;
$card-border-radius: 1rem;

@import "bootstrap/bootstrap.scss";

h1,
h2,
#info strong {
    @extend .fw-semibold;
}

blockquote, pre {
    @extend .bg-body-tertiary, .border-start, .ms-3, .p-2, .ps-3, .mb-2;
}

code {
    @extend .text-body;
}

p:last-child {
    margin-bottom: 0px;
}

.navbar {
    @extend .sticky-top, .navbar-expand-lg, .bg-body, .border-bottom, .border-primary, .border-4;
}

.card {
    @extend .bg-body-secondary;
}

// Icons
.icon {
    display: inline-flex;
    align-self: center;
}

.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

.icon.baseline svg, .icon.baseline img {
    top: .125em;
    position: relative;
}

// Background
body {
    background-image: url("assets/bg-particles.png");
    background-repeat: repeat;
    background-position: center top;
    z-index: 1;
}

// Blue region dividers
.blue {
    @extend .bg-primary, .text-white;
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.blue::before,
.blue::after {
    width: 100%;
    position: absolute;
    z-index: -1;
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 1920 207' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1920 104C1612.32 35.8892 1287.57 0.958609 960 0.958618C632.431 0.958627 307.677 35.8892 0 104V207H1920V104Z' fill='%233A7DFF'/%3E%3C/svg%3E");
}

.blue::before {
    bottom: 100%;
    transform: translateY(50%);
}

.blue::after {
    top: 100%;
    transform: scaleY(-1) translateY(50%);
}

@include media-breakpoint-down(sm) {
    .blue h5 {
        font-size: 1em;
    }
}

// Line count limiter
.four-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.two-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

// Hover Effects

.opacity-hover {
    opacity: 75%;
    transition: opacity .25s;

    &:hover {
        opacity: 100%;
    }
}

[data-bs-theme="light"] .silhouette {
    filter: brightness(0);
    -webkit-filter: brightness(0);
}

[data-bs-theme="dark"] .silhouette {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.white-hover {
    @extend .silhouette;
    transition: filter 0.5s;
    opacity: 0.75;
}

.white-hover:hover {
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}

.link-card {
    transition: color .25s;
}

.link-card:hover {
    @extend .text-body-emphasis;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#hero>svg>image {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@media (orientation: landscape) {
    #hero-portrait {
        display: none;
    }
}
@media (orientation: portrait) {
    #hero-landscape {
        display: none;
    }
}

// Zola suggested code formatting
pre {
    padding: 1rem;
    overflow: auto;
}

// The line numbers already provide some kind of left/right padding
pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

// The line number cells
pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    // If you want your highlights to take the full width.
    display: block;
    // The default background colour of a mark is bright yellow
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}