{% import "macros/shortcodes.html" as mac_sc %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <title>Content Manager</title>
  <link href="{{ config.base_url | safe }}/admin/config/index.html" type="text/yaml" rel="cms-config-url">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
  <!-- Include the script that builds the page and powers Decap CMS -->
  <script src="https://cdn.jsdelivr.net/npm/netlify-cms@^2.0.0/dist/netlify-cms.js"></script>
  <script>
    CMS.registerPreviewStyle("{{ config.base_url | safe }}/style.css");
  </script>

<script>
  CMS.registerEditorComponent({
    id: "note",
    label: "Note",
    fields: [
      {
        name: 'type',
        label: 'Type',
        widget: 'string'

      },
      {
        name: 'icon',
        label: 'Icon',
        widget: 'string'
      },
      {
        name: 'body',
        label: 'Body',
        widget: 'string'
      }
    ],
    // Parse md to component
    {% raw %}pattern: /^{{ note\(type="([a-z]+)", icon="([a-z\-]+)", body="([^"]+)"\) }}$/ms,{% endraw %}
    fromBlock: function(match) {
      return {
        type: match[1],
        icon: match[2],
        body: match[3]
      };
    },
    // Convert component to md
    toBlock: function(data) {
      {% raw %}return `{{ note(type="${data.type}", icon="${data.icon}", body="${data.body}") }}`;{% endraw %}
    },
    // Generate preview of component
    toPreview: function(data) {
      return `{{ mac_sc::note(type="${data.type}", icon="${data.icon}", body="${data.body}") }}`;
    }
  });
  </script>
</body>
</html>