# Yes, this should be config.yml, yes, it is a html template, no, i'm not sorry
backend:
  name: github
  repo: ericthelemur/uwcs-site
  base_url: http://86.130.201.19:9964
  cms_label_prefix: "[CMS] "
media_folder: "static/images"
public_folder: "/images"
site_url: {{ config.base_url | safe }}
logo_url: {{ config.base_url | safe }}/assets/logo_compact.svg

collections:
  - name: "news" # Used in routes, e.g., /admin/collections/blog
    label: "News" # Used in the UI
    folder: "content/news" # The path to the folder where the documents are stored
    {% raw %}preview_path: news/{{slug}} {% endraw %}
    create: true # Allow users to create new documents in this collection
    format: toml-frontmatter
    {% raw %}slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md {% endraw %}
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "News Date", name: "date", widget: "date", format: "DD MMMM YYYY", date_format: "YYYY-MM-DD"}

      - label: "Taxonomies"
        name: "taxonomies"
        widget: "object"
        fields: 
          - label: "Categories"
            name: "categories"
            widget: "categories"
            default: ["Newsletter"]
            {% set cats = get_taxonomy(kind="categories") %}
            existing: [{% for term in cats.items %} "{{ term.name | lower | safe }}", {% endfor %}]

          - label: "Term"
            name: "terms"
            widget: "categories"
            default: ["22/23 T3"]
            {% set terms = get_taxonomy(kind="terms") %}
            existing: [{% for term in terms.items %} "{{ term.name | lower | safe }}", {% endfor %}]
          
      - {label: "Body", name: "body", widget: "markdown"}
  - name: "events" # Used in routes, e.g., /admin/collections/blog
    label: "Events" # Used in the UI
    folder: "content/events" # The path to the folder where the documents are stored
    {% raw %}preview_path: events/{{slug}} {% endraw %}
    create: true # Allow users to create new documents in this collection
    format: toml-frontmatter
    {% raw %}slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md {% endraw %}
    fields: # The fields for each document, usually in front matter
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Event Time & Date", name: "date", widget: "datetime"}
      - {label: "Location", name: "location", widget: "string"}

      - label: "Taxonomies"
        name: "taxonomies"
        widget: "object"
        fields: 
          - label: "Categories"
            name: "categories"
            widget: "categories"
            default: []
            {% set tags = get_taxonomy(kind="tags") %}
            existing: [{% for term in tags.items %} "{{ term.name | lower | safe }}", {% endfor %}]
      - {label: "Body", name: "body", widget: "markdown"}