{% macro custom_card(title, subtitle="", date="", summary="", link="", link_text="Read more >>", sum_len=125, add_card_classes="", add_card_style="") %}
<div class="card w-100 col-lg link-card {{ add_card_classes | safe }}" {{ add_card_style | safe }}>
  <div class="card-body">
    <h5 class="card-title two-line-clamp">{{ title | safe }}</h5>
    {% if subtitle %}
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ subtitle | safe }} </h6>
    {% endif %}
    {% if date %}
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ date | date(format="%d %B %Y") }} </h6>
    {% endif %}
    {% if summary %}
    <p class="card-text four-line-clamp m-0">
      {{ summary | striptags | truncate(length=sum_len) | safe }}
    </p>
    {% endif %}
    
    {% if link %}
    <a class="stretched-link" href="{{ link }}" class="card-link">{{ link_text }}</a>
    {% endif %}
  </div>
</div>
{% endmacro custom_card %}

{% macro news_card(page, sum_len=125, title_weight="fw-semibold") %}
{% if page.summary %}
{% set summ = page.summary %}
{% else %}
{% set summ = page.content %}
{% endif %}

{{ cards::custom_card(title=page.title, date=page.date, summary=summ, link=page.permalink, sum_len=sum_len, title_weight=title_weight) }}
{% endmacro news_card %}