{% import "macros/logos.html" as logos %}

{% macro preview_styles() %}

CMS.registerPreviewStyle("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700");
CMS.registerPreviewStyle("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700");
CMS.registerPreviewStyle("{{ config.base_url | safe }}/icon-packs/bootstrap-icons.min.css");
CMS.registerPreviewStyle("{{ config.base_url | safe }}/style.css");

{% endmacro preview_styles %}

{% macro head() %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="{{ config.base_url | safe }}/assets/favicon.png">
<link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700" rel="stylesheet">
<script src="{{ config.base_url | safe }}/scripts/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="{{ config.base_url | safe }}/icon-packs/bootstrap-icons.min.css">
<script src="{{ config.base_url | safe }}/scripts/darkmode.js"></script>
<link rel="stylesheet" href="{{ config.base_url | safe }}/style.css">

{% if config.markdown.highlight_code and config.markdown.highlight_theme == "css" %}
<link rel="stylesheet" type="text/css" href="/syntax-theme-dark.css"/>
<link rel="stylesheet" type="text/css" href="/syntax-theme-light.css"/>
{% endif %}
{% endmacro head %}



{% macro nav() %}
<nav class="w-100 navbar sticky-top navbar-expand-lg bg-body border-bottom border-primary border-4" style="min-width: fit-content">
    <div class="container-lg align-items-center">
      
      <!-- UWCS Logo -->
      <a class="navbar-brand" href="{{ config.base_url | safe }}">
        {{ logos::dots_uwcs() }}
      </a>

      <!-- Navbar parts for mobile version -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
        aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav d-flex w-100">
          
          <!-- Include links to top level sections -->
          {% set sect = get_section(path='_index.md') %}
          {% for sub in sect.subsections %}
          {% set subsect = get_section(path=sub) %}
          <li><a class="nav-link" href="{{ subsect.permalink | safe }}">{{ subsect.title }}</a></li>
          {% endfor %}

          <!-- Dark mode toggles -->
          <div class="vr ms-md-auto d-none d-lg-block "></div>
          <li class="nav-item ms-lg-2">
            <a id="dark-mode" class="nav-link ml-1" href="#">
              <i class="ph-fill ph-moon"></i>
              <span class="d-lg-none ms-2 ms-lg-0">Toggle Dark Mode</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endmacro nav %}



{% macro bbreadcrumb() %}
<!-- Hacky way for this to work on sections and pages -->
{% if section %}
{% set page = section %}
{% endif %}

<!-- Don't trigger on top level -->
{% if page.ancestors | length > 1 %}
<nav aria-label="breadcrumb" class="container-lg pt-2 bg-body px-4">
  <ol class="breadcrumb">
    <!-- Generate for each ancestor -->
    {% for parent in page.ancestors %}
      {% if not loop.first %} <!-- Ignore first -->
        {% set s = get_section(path=parent, include_pages=false) %}
        <li class="breadcrumb-item"><a href="{{ s.permalink | safe }}">{{ s.title | truncate(length=25) }}</a></li>
      {% endif %}
    {% endfor %}
    <!-- Include actual page -->
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | truncate(length=25)}}</li>
  </ol>
</nav>
{% endif %}
{% endmacro bbreadcrumb %}


{% macro footer() %}
<footer class="w-100 container-lg d-flex flex-wrap justify-content-around gap-2 py-3 border-top bg-body">
    <!-- Centred aligned uwcs logo -->
    <a class="d-flex text-decoration-none" href="https://uwcs.co.uk">
      {{ logos::dots_uwcs() }}
    </a>
    <!-- Right aligned links -->
    <ul class="nav justify-content-end list-unstyled d-flex">
        <li class="ms-3">
        <a class="text-muted" href="https://github.com/uwcs"><i class="bi-github"
            aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
        <a class="text-muted" href="https://discord.uwcs.co.uk"><i class="bi-discord" aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
        <a class="text-muted" href="https://uwcs.co.uk"><i class="bi-globe" aria-hidden="true"></i></a>
        </li>
    </ul>
</footer>
{% endmacro footer %}