{#
Generates the required JS to add a shortcode as a component in the CMS

Arguments:
    name: name of component
    components: array of names of the components
    types: array of types of the component (string/markdown/date/...)
    body: JS code inserted after the shortcode has been parsed into a dict - use for defaults
      - basically just write the template logic in JS
#}


<script>
    var fields = [
      {% for comp in components %}
        {
          name: '{{ comp | lower }}',
          label: '{{ comp | capitalize }}',
          widget: '{{ types[loop.index0] }}'
        },
      {% endfor %}
    ];
    CMS.registerEditorComponent({
      id: "{{ name | lower }}",
      label: "{{ name | capitalize }}",
      fields: fields,
      // Parse md to component, This does look horrific lol
      //         { { or { % |       name         |  ( | var name        | = | string (esc. quotes)         |  }} or body and end
      pattern: /^({({|%)\s*({{ name | lower }})\s*\(((?:[a-zA-Z0-9_]+?\s*=\s*"(?:[^"\\]|\\.)*",?\s*)*))\)\s*(}}|%}\n?(.+?)\n?{(%\s*end\s*%)})$/ms,
      fromBlock: function(match) {
        console.log("from block match", match);
        let args = match[4].split(/\s*,\s*/);
        console.log("from block args", args);
        let data = { {% for comp in components %} "{{ comp }}": "", {% endfor %} }
        for (const val of args) {
          if (val == "") continue;
          const spl = val.split(/\s*=\s*/);
          data[spl[0]] = spl[1].replaceAll(/^\"|\"$/g, "");
        }
        if (match[6]) data["body"] = match[6];
        console.log("from block pre custom", data);
        {% if body %}
        {{ body | safe }}
        {% endif %}
        console.log("from block post custom", data);
        return data;
      },
      // Convert component to md
      toBlock: function(data) {
        const block_body = "body" in data && data.body.includes("\n");
        const base = " {{ name | lower }}(";
        let args = [];
        for (const [name, value] of Object.entries(data)) {
          if (block_body && name == "body") continue;
          args.push(`${name}="${value}"`);
        }
        if (block_body) {
          return "{{ "{%" }}" + base + args.join(", ") + ") %}" + data.body + "{{ "{% end %}" }}"
        } else {
          return "{{ "{{" }}" + base + args + ") }}"
        }
      },
      // Generate preview of component
      toPreview: function(data) {
        return `