<div id="hero" class="w-100">
  <svg class="w-100" viewBox="0 0 1300 820" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <image x="-43.5" y="-124" width="273" height="273" href="assets/circles/Talk.png"/>
  <image x="426.5" y="-1.5" width="484" height="258" href="assets/circles/Crowd Pizza.png"/>
  <image x="901.5" y="95" width="210" height="210" href="assets/circles/VR.png"/>
  <image x="225.5" y="58" width="190" height="190" href="assets/circles/WC BBQ.png"/>
  <image x="1144.5" y="33" width="176" height="176" href="assets/circles/Speaker Joey.png"/>
  <image x="70.5" y="182" width="149" height="149" href="assets/circles/Audience MS.png"/>
  <image x="1101.5" y="247" width="194" height="195" href="assets/circles/Laptop.png"/>
  <image x="29" y="361" width="168" height="168" href="assets/circles/Coding.png"/>
  <image x="1130.5" y="622" width="137" height="137" href="assets/circles/Goose.png"/>
  <image x="230.5" y="483" width="137" height="137" href="assets/circles/Discord.png"/>
  <image x="632.5" y="507" width="287" height="287" href="assets/circles/Talk Git Good.png"/>
  <image x="943.5" y="427" width="216" height="216" href="assets/circles/Laptop Group Close.png"/>
  <image x="25.2832" y="559" width="200" height="200" href="assets/circles/Bletchley.png"/>
  <image x="400.5" y="498" width="199" height="199" href="assets/circles/Speaker Tomas.png"/>
  <image x="941.5" y="659" width="157" height="157" href="assets/circles/Rev Sesh.png"/>
  <image x="242.5" y="643" width="167" height="167" href="assets/circles/Duck Table.png"/>
  <svg  x="250" y="318" width="770" height="153" viewBox="0 0 770 153" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle fill="#FFC700" cx=57.5 cy=21 r=21 />
    <circle fill="#FFC700" cx=21.5 cy=57 r=21 />
    <circle fill="#3A7DFF" cx=57.5 cy=95 r=21 />
    <circle fill="#3A7DFF" cx=94 cy=131.5 r=21 />
<text fill="var(--bs-emphasis-color)" xml:space="preserve" style="white-space: pre" font-family="Montserrat" font-size="55.5465" font-weight="bold" letter-spacing="0em">
<tspan font-weight="600" x="142.923" y="62.2662">University of Warwick</tspan>
<tspan x="142.923" y="130.266">Computing Society</tspan>
</text>
</svg>
</div>