{% import "macros/sponsors.html" as spon_macros %}
{% import "macros/parts.html" as parts %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} - UWCS</title>
  {% block head %}
  {{ parts::head() }}
  {% endblock %}
</head>
<script>
  console.log(`{{ __tera_context }}`)
</script>
<body class="min-vh-100 viewport-width-100 vstack">
  {{ parts::nav() }}
  {% block breadcrumb %}
  {{ parts::bbreadcrumb() }}
  {% endblock %}
  <div id="main" class="container-lg w-100 d-flex flex-column flex-md-row p-0 flex-grow-1 gap-3 {% block main_extra %}bg-body px-4{% endblock %}">
    {% block outercontents %}
    <article id="content" class="col-md-9 py-4 flex-grow-1">
      {% block header %}<h1>{% if page %} {{ page.title | safe }} {% elif section %} {{ section.title | safe }} {% endif %} </h1>{% endblock %}
      {% block content %}{% endblock %}
    </article>
    <aside class="col-md-3 flex-grow-1 py-4">
      {% block sidebar %}
      <div id="sponsors"> 
        <h2>Our Gold Sponsors</h2>

        {% set spon_sec = get_section(path="sponsors/_index.md") %}
        {{ spon_macros::tier(tier="Gold", sponsors=spon_sec.pages) }}
      </div>
      {% endblock %}
    </aside>
    {{ spon_macros::resize(gw=110*100, sw=0) }}
    {% endblock %}
  </div>
  {{ parts::footer() }}
</body>
</html>