<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} - UWCS</title>
  {% include "parts/head.html" %}
  {% block head %}{% endblock %}
</head>

<body class="min-vh-100 vstack">
  {% include "parts/nav.html" %}
  <div class="container-lg d-flex flex-column align-items-center p-0 flex-grow-1">
      {% include "parts/breadcrumb.html" %}

      {% block outercontents %}
      <article id="content" class="w-100 py-4 flex-grow-1">
        {% block header %}<h1>{% if page %} {{ page.title | safe }} {% elif section %} {{ section.title | safe }} {% endif %} </h1>{% endblock %}
        {% block content %}{% endblock %}
      </article>
      {% endblock %}
    {% include "parts/footer.html" %}
  </div>
</body>

</html>