<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %} - UWCS</title>
  {% include "parts/head.html" %}
  {% block head %}{% endblock %}
</head>

<body>
  <div class="container min-vh-100 d-flex flex-column align-items-center p-0">
    {% include "parts/nav.html" %}
    <!-- <div class="w-100 px-1"> -->
      {% include "parts/breadcrumb.html" %}

      <article id="content" class="w-100 mb-4">
        {% block header %}<h1>{% if page %} {{ page.title | safe }} {% elif section %} {{ section.title | safe }} {% endif %} </h1>{% endblock %}
        {% block content %}{% endblock %}
      </article>
    <!-- </div> -->
    {% include "parts/footer.html" %}
  </div>
</body>

</html>