{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}
{{ section.content | safe}}

<!-- Use paginator pages if exists -->
{% if paginator %}
{% set pages = paginator.pages %}
{% elif section.pages %}
{% set pages = section.pages %}
{% endif %}

{% if pages %}
<div class="posts p-2">
    {% for page in pages %}
      <!-- Card for each page -->
      {{ macros::news_card(page=page, sum_len=250, title_weight="fw-semibold") }}
    {% endfor %}
</div>
{%endif%}

{% endblock content%}