{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}

{% block secbody %}{{ section.content | safe}}{% endblock %}

<hr>
<!-- Use paginator pages if exists -->
{% if paginator %}
{% set pages = paginator.pages %}
{% elif section.pages %}
{% set pages = section.pages %}
{% elif term.pages %}
{% set pages = term.pages %}
{% endif %}

{% if pages %}
<div class="posts p-2 gap-3 vstack">
    {% for page in pages %}
      <!-- Card for each page -->
      {{ cards::news_card(page=page, sum_len=250) }}
    {% endfor %}
</div>
{%endif%}

{% if paginator %}
{% include "parts/pagination.html" %}
{% endif %}

{% endblock content%}