{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block title %}{{ taxonomy.name | capitalize }}{% endblock title %}
{% block breadcrumb %}{% endblock breadcrumb %}

{% block header %}<h1>{{ taxonomy.name | capitalize }}</h1>{% endblock %}

{% block content %}

All {{taxonomy.name}} on this site:

<hr>

<div class="posts p-2 gap-3 d-flex flex-wrap">
    {% for term in terms %}
      {{ cards::custom_card(title=term.name, link=term.permalink, link_text="See all >>", add_card_classes="col-md", add_card_style="style='min-width: fit-content'") }}
    {% endfor %}
</div>

{% endblock content%}