{% extends "section.html" %}

{% block title %}{{ taxonomy.name | capitalize }}: {{ term.name }}{% endblock title %}
{% block breadcrumb %}
<nav aria-label="breadcrumb" class="container-lg pt-2 bg-body px-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ config.base_url | safe }}/{{ taxonomy.name | safe }}">{{ taxonomy.name | capitalize | truncate(length=25) }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ term.name | truncate(length=25)}}</li>
    </ol>
  </nav>
{% endblock breadcrumb %}

{% block header %}<h1>{{ taxonomy.name | capitalize }}: {{ term.name }}</h1>{% endblock %}

{% block secbody %}
All items associated with the {{ taxonomy.name }} <strong>{{ term.name }}</strong>:
{% endblock %}
