<!-- Hacky way for this to work on sections and pages -->
{% if section %}
{% set page = section %}
{% endif %}

<!-- Don't trigger on top level -->
{% if page.ancestors | length > 1 %}
<nav aria-label="breadcrumb" class="container-lg pt-2 bg-body px-4">
  <ol class="breadcrumb">
    <!-- Generate for each ancestor -->
    {% for parent in page.ancestors %}
      {% if not loop.first %} <!-- Ignore first -->
        {% set s = get_section(path=parent, include_pages=false) %}
        <li class="breadcrumb-item"><a href="{{ s.permalink | safe }}">{{ s.title | truncate(length=25) }}</a></li>
      {% endif %}
    {% endfor %}
    <!-- Include actual page -->
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | truncate(length=25)}}</li>
  </ol>
</nav>
{% endif %}