<footer class="w-100 d-flex flex-wrap justify-content-around gap-2 py-3 border-top">
    <!-- Centred aligned uwcs logo -->
    <a class="d-flex text-decoration-none" href="https://uwcs.co.uk">
        {% include "parts/uwcs_logo.html" %}
    </a>
    <!-- Right aligned links -->
    <ul class="nav justify-content-end list-unstyled d-flex">
        <li class="ms-3">
        <a class="text-muted" href="https://github.com/uwcs"><i class="bi-github"
            aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
        <a class="text-muted" href="https://discord.uwcs.co.uk"><i class="bi-discord" aria-hidden="true"></i></a>
        </li>
        <li class="ms-3">
        <a class="text-muted" href="https://uwcs.co.uk"><i class="bi-globe" aria-hidden="true"></i></a>
        </li>
    </ul>
</footer>